# Dependencies
node_modules/

# Build Output
dist/

# Environment Variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# IDE & Tooling
.vscode/
.idea/
.DS_Store

/src/generated/prisma
